body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.arrow {
  width: 100px;
  aspect-ratio: 1/2;
  background: green;
  position: relative;
}

.arrow::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -50px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid green;
}