* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background: #f8b140;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  aspect-ratio: 1/1;
  background: #fff;
  border-radius: 50%;
  border: 30px solid #000;
}
.wrap {
  background: linear-gradient(transparent 50%, #67aed4 50%);
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pujur {
    aspect-ratio: 1/1;
    flex-grow: 1;
    border-radius: 50%;
}

.c1, .c3 {
    background: #67aed4;
}
.c2 {
    background: #fff;
}


